.header__logo {
    font-size: 26px;
}
.header__list-item a {
    font-size: 20px;
}
.hero__title {
    font-size: 70px;
}
.hero__subtitle {
    font-size: 30px;
}
.hero__box-description {
    font-size: 24px;
}
.hero__botton {
    font-size: 30px;
}

.footer__privacy-policy {
    font-size: 24px;
}
.footer__сopyright {
    font-size: 20px;
}
.footer__creator {
    font-size: 22px;
}

.about__title {
    font-size: 45px;
}
.about__subtitle {
    font-size: 28px;
}
.about__list-item {
    font-size: 24px;
}
.about__list-bottom {
    font-size: 24px;
}

.program__title {
    font-size: 45px;
}
.program__subtitle {
    font-size: 24px;
}
.program__banner-title {
    font-size: 34px;
}
.program__banner-list {
    font-size: 24px;
}
.program__description {
    font-size: 24px;
}
.program__box-title {
    font-size: 34px;
}
.program__box-description {
    font-size: 24px;
}

.faq__title {
    font-size: 65px;
}
.faq__box-title {
    font-size: 22px;
}
.faq__box-description {
    font-size: 22px;
}
.faq__botton {
    font-size: 30px;
}

.contact__title {
    font-size: 45px;
}
.contact__discription {
    font-size: 24px;
}
.contact__information__title {
    font-size: 28px;
}
.contact__information-list {
    font-size: 20px;
}
.contact__time-title {
    font-size: 28px;
}
.contact__time-list {
    font-size: 20px;
}