.gallery {
    padding: clamp(3.125rem, 2.038rem + 5.43vw, 6.25rem) 0;
    // background: var(--bg-main);

    &__circle {
        &:before {
            content: "";
            display: inline-block;
            position: absolute;

            left: -10px;
            top: 60%;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--gradient-circle);
            animation: breath 4s infinite;
        }
    }

    &__circle2 {
        &:before {
            content: "";
            display: inline-block;
            position: absolute;

            right: 68%;
            top: 6%;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--gradient-circle);
            animation: breath-revers 4s infinite;
        }
    }

    &__circle3 {
        &:before {
            content: "";
            display: inline-block;
            position: absolute;

            right: -10px;
            top: 80%;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--gradient-circle);
            animation: breath-revers 4s infinite;
        }
    }

    &__circle4 {
        &:before {
            content: "";
            display: inline-block;
            position: absolute;

            right: 5%;
            top: 15%;

            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: var(--gradient-circle);
            animation: breath 4s infinite;
        }
    }

    &__decor3 {
        position: absolute;
        top: 0%;
        left: 10%;
        transform: rotate(90deg);
        z-index: -1;
    }

    &__decor4 {
        position: absolute;
        bottom: 0%;
        right: 10%;
        transform: rotate(90deg);
        z-index: -1;
    }

    &__wave1 {
        img {
            width: 100%;
            position: absolute;
            bottom: 45%;
            z-index: -1;
        }
    }

    @keyframes breath {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.4);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes breath-revers {
        0% {
            transform: scale(2);
        }

        50% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(2);
        }
    }

    &__title {
        width: 1200px;
        margin: 0 auto;

        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: var(--text-main);
    }

    &__event {
        margin: 40px 0 0 0;
        font-weight: 700;
        font-size: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem);
        position: relative;
    
        &:before {
            content: "";
            position: absolute;
            width: 550px;
            height: 2%;
    
            top: 50%;
            left: -600px;
    
            transform: translateY(-50%);
    
            background: #673094;
        }
    
        &:after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
    
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
    
            border-radius: 50%;
            background-image: linear-gradient(90.06deg, #957df3 .07%, #662d91 99.96%);
        }
    }

    &__wrapper {
        margin: 50px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        gap: 20px;
    }

    &__wrapper-item {
        border: 10px solid #08b5f8;
        border-radius: 20px;
        img {
            width: 100%;
            height: 100%;
            // border-radius: 20px;
        }
    }
}